{{#if own_post}}
<button type="button" class="btn btn-secondary mb-3" id="edit-post" data-bs-toggle="modal" data-bs-target="#editModal">
    Edit post
</button>
{{/if}}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{post.user.username}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{format_date post.date_created}}</h6>
        <p class="card-text">{{post.content}}</p>
        {{#if post.comments}}
        <ul class="list-group list-group-flush"></ul>
        {{#each post.comments as |comment|}}
        <h6 class="card-subtitle mb-2 text-muted"><em>{{comment.user.username}}</em></h6>
        <h6 class="card-subtitle mb-2 text-muted"><em>{{format_date comment.date_created}}</em></h6>
        <li class="list-group-item mb-3">{{comment.content}}</li>
        {{/each}}
        {{/if}}
    </div>
</div>
{{#if logged_in}}
<div class="input-group mb-3">
    <button class="btn btn-outline-secondary" id="add-comment" type="button" id="button-addon1">Add comment</button>
    <input type="text" class="form-control" id="new-comment" placeholder="" aria-label="Example text with button addon"
        aria-describedby="button-addon1">
</div>
{{/if}}



<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="input-group">
                    <span class="input-group-text">Post title</span>
                    <textarea class="form-control" aria-label="Post title" id="title-update">{{post.title}}</textarea>
                </div> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-text">Post content</span>
                    <textarea class="form-control" aria-label="Post content" id="content-update" rows="10">{{post.content}}</textarea>
                </div>
                 </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" id="delete-post">Delete post</button>
                    <button type="button" class="btn btn-outline-success" id="save-change">Save changes</button>
                </div>
            </div>
        </div>
    </div>